.heading{
    font-size: 25px;
    width:100%;
    margin:0px;
    box-shadow:5px 5px 5px rgb(58, 160, 27);
}

.note{
    font-size:20px;
    
    color:aqua;
}

.copy_right_footer{
    position:fixed;
    color:rgb(219, 219, 230);
    bottom:0;
    width:100%;
    background-color:blue ;
    line-height:3;
    text-align:center;
}

canvas{
    border:5px solid rgb(218, 17, 17);
    border-radius:20px;
    box-shadow:5px 5px 5px lightseagreen;
}